<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="dashboard">
        <ion-label>Dashboard</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="grades">
        <ion-label>Grades</ion-label>
        <ion-icon name="newspaper-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="tasks">
        <ion-label>Tasks</ion-label>
        <ion-icon name="create-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>