<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons>
      <ion-back-button defaultHref="/mainmenu/tabs/dashboard"></ion-back-button>
      <ion-title>Profile</ion-title>
    </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="ion-margin">
    <ion-card-content class="ion-text-center">
      <ion-avatar style="margin: 20px auto; width: 100px; height: 100px; box-shadow: 0 4px 10px rgba(0,0,0,0.2);">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_nLCu85ayoTKwYw6alnvrockq5QBT2ZWR2g&s" alt="Profile picture" />
      </ion-avatar>
      <h2 style="margin-top: 10px; color: #ffffff;">{{ loadedStudents[0].name }}</h2>
      <ion-chip color="tertiary" style="margin-top: 8px;">
        <ion-label>{{ loadedStudents[0].grade }}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
</ion-content>



